@page
@model razor.Pages.Products.CreateProductModel
@{
}
<h2>Thêm sản phẩm</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Product.Name"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.Price"></label>
        <input asp-for="Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.Description"></label>
        <textarea asp-for="Product.Description" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-page="Index" class="btn btn-secondary">Hủy</a>
</form>
